@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    margin: 0;
    padding: 0;
    background-color: #18185C;
    color: white;
    font-family: 'Poppins', sans-serif;
}
div.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #18184D;
}
h1.title {
    padding-top: 6px;
    padding-bottom: 6px;
    height: 48px;
}
img.logo {
    position: absolute;
    left: 0;
    height: 60px;
    width: 60px;
}
